<div id="chat" class="fixed bottom-0 right-0 z-50">
    <article class="message chat bg-white rounded-t-lg shadow-lg w-72">
        <div class="message-header bg-blue-500 text-white rounded-t-lg px-4 py-2 cursor-pointer flex justify-between items-center" onclick="toggleChat()">
            <p class="text-lg font-semibold">Chat</p>
            <div id="minimize-maximize" class="cursor-pointer transition-transform duration-300 transform">
                <svg id="chat-alert" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path id="minimize-icon" class="fa-minus" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12h16"></path>
                    <path id="expand-icon" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4l16 16M20 4L4 20"></path>
                </svg>
            </div>
        </div>
        <div id="chat-content" class="overflow-y-auto max-h-80 hidden transition-opacity duration-300 opacity-0">
            <div class="body p-4" id="log"></div>
            <form id="form" autocomplete="off" class="p-4">
                <div class="field has-addons">
                    <div class="send flex items-center">
                        <div class="control-input flex-grow">
                            <input class="input w-full border rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500" id="msg" type="text" placeholder="Type a message...">
                        </div>
                        <div class="control">
                            <button id="chat-button" class="button is-info px-6 py-2 rounded-lg">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </article>
</div>

<script>
    let isChatOpen = true;

    function toggleChat() {
        const chatContent = document.getElementById("chat-content");
        const minimizeMaximizeIcon = document.getElementById("chat-alert");
        const minimizeIcon = document.getElementById("minimize-icon");
        const expandIcon = document.getElementById("expand-icon");

        if (isChatOpen) {
            minimizeIcon.classList.add("hidden");
            expandIcon.classList.remove("hidden");
            chatContent.classList.remove("hidden");
            chatContent.classList.remove("opacity-0");
            chatContent.classList.add("opacity-100");
        } else {
            minimizeIcon.classList.remove("hidden");
            expandIcon.classList.add("hidden");
            chatContent.classList.add("hidden");
            chatContent.classList.remove("opacity-100");
            chatContent.classList.add("opacity-0");
        }

        isChatOpen = !isChatOpen;
    }
</script>

<link rel="stylesheet" href="https://preline.co/assets/css/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"></script>
