<body>
    <section class="section">
        <div class="container">
            <header>
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item title" href="/"><strong>Sauvik's</strong>Chat Room</a>
                    </div>
                    <div class="navbar-item">
                        <p class="subtitle">

                        </p>
                    </div>
                    
                </nav>
            </header>
            <hr>